<div class="jumbotron">
  <h2>HipTime! Fácil y gratis</h2>
  <br>
  <h4>Confiado por millones. HipTime es el mejor gestor de tareas en línea</h4>
  <br>
  <%= link_to "Regístrate", new_user_registration_path, class: 'btn btn-danger' %>
</div>
